@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">this could be us now if it does not fail</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
